:root {
    --primary-color: #34A9A1; /* Teal */
    --secondary-color: #FBDC3B; /* Sun Yellow */
    --accent1-color: #4A7C59; /* Forest Green */
    --accent2-color: #4B2E00; /* Brown */
    --heading-font: "Georgia", "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: 
}

header {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding-left: 0.5rem;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent2-color);
    border-radius: 3px;
    opacity: 0.9;
}

nav li {
    border-right: 1px solid var(--accent2-color);
}

nav li:last-child {
    border-right: none;
}

nav a {
    display: block;
    padding: 0.4rem 1.6rem;
    text-decoration: none;
    color:var(--accent2-color);
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

h2 {
    margin: 0 0 8px;
    padding: 8px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

nav, p, article {
    margin: 10px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.hero article {
    position: absolute;
    top: 420px;
    background-color: var(--accent1-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.hero article img {
    width: 125px;
    height: auto;
    float: right;
}

section {
    border: 1px solid var(--accent2-color);
    padding: 0.5rem;
    margin: 1rem auto;
}

.history div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.history p {
    margin: 4px;
    padding: 4px;
}

.history figure {
    text-align: center;
}

.history img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.adventure img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.adventure figcaption {
    display: block;
    text-align: center;
    font-size: 0.7rem;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    color: #000000;
}

footer nav {
    justify-content: center;
}

.socialmedia {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    padding: 1px;
    justify-items: center;
}

.socialmedia img {
    width: 30px;
    height: auto;
}