* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #f3f3f3;
}

main {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #001a66;
}

form {
    background-color: #eee;
    border-radius: 8px;
    text-align: center;
}

.box {
    margin: .75rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 8px;
    padding: .75rem; 
}

input, textarea, select {
    padding: .75rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    font-size: 1rem;
}

select {
    width: 99%;
    height: 2rem;
}

code {
    display: block;
    background-color: #222;
    color: #FFF;
    margin: .75rem auto;
    padding: .75rem; 
    border-radius: 2px;
    text-align: center;
    width: 60%;
}

button {
    width: 80%;
    padding: .75rem;
    background-color: #5555ff;
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.foot {
    font-size: .75rem;
    margin-top: .5rem;
}