table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    font-family: Georgia, serif;
    letter-spacing: 1px;
    width: 100%;
}

caption {
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 800;
}

th, td {
    border: 1px solid rgb(150, 150, 150);
    padding: 0.5rem 0.7rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

thead tr, tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}