* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --default-border: 1px solid black;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    padding: 0.4rem;
}

main {
    max-width: 750px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--default-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0.5rem;
}

aside {
    width: 20em;
    text-align: center;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 38px;
    left: 130px;
    color: #ddd;
}

footer {
    margin-top: 15px;
    border-top: var(--default-border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    width: 20em;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}